Source: gestioip
Section: admin
Priority: extra
Maintainer: Arturo Borrero Gonzalez <arturo.borrero.glez@gmail.com>
Uploaders: Pablo Vazquez Martinez <pabvazmar@gmail.com>, Carlos Alvarez Barba <sharlie89@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.gestioip.net
Vcs-Git: https://github.com/aborrero/pkg-gestioip.git
Vcs-Browser: https://github.com/aborrero/pkg-gestioip.git

Package: gestioip
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
	apache2 | httpd,
	mysql-client | mariadb-client,
	libapache2-mod-perl2,
	libdbi-perl,
	libdbd-mysql-perl,
	libnet-ip-perl,
	libnet-ping-external-perl,
	libparallel-forkmanager-perl,
	libsnmp-info-perl,
	libmail-perl,
	libtime-hires-perl,
	libdate-calc-perl,
	libdate-manip-perl,
	libnet-dns-perl,
	libspreadsheet-parseexcel-perl,
	libole-storage-lite-perl,
	libgd-graph-perl,
	libwww-perl,
	libtext-diff-perl
Suggests: mysql-server | mariadb-server
Description: Web-based IP address management software
 GestioIP is an automated, web based IPv4/IPv6 address management (IPAM) software.
 It features powerful network discovery functions and offers search and filter
 functions for both networks and host, permitting Internet Search Engine
 equivalent expressions. This lets you find the information that administrators
 frequently need easily and quickly.
 .
 GestioIP also incorporates an automated VLAN management system.
 .
 Visit www.gestioip.net for more information.
