#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DOCUMENT_ROOT = debian/gestioip/usr/share/gestioip
CONF_DIR = debian/gestioip/etc/gestioip

%:
	dh $@ 

override_dh_install:
	dh_install -pgestioip --exclude=GestioIP.pm
	dh_install -plibgestioip-perl

override_dh_fixperms:
	chmod -R 0644 $(DOCUMENT_ROOT)/imagenes/*
	chmod 0755 $(DOCUMENT_ROOT)/imagenes/OS
	chmod 0755 $(DOCUMENT_ROOT)/imagenes/apps
	chmod 0755 $(DOCUMENT_ROOT)/imagenes/style
	chmod 0755 $(DOCUMENT_ROOT)/imagenes/vendors
	chmod 0644 $(DOCUMENT_ROOT)/*.css
	chmod 0644 $(DOCUMENT_ROOT)/*.ico
	chmod 0644 $(DOCUMENT_ROOT)/errors/*
	chmod 0644 $(DOCUMENT_ROOT)/install/vars_*
	chmod 0644 $(DOCUMENT_ROOT)/install/*.css
	chmod 0644 $(DOCUMENT_ROOT)/install/*.ico
	dh_fixperms
	chown root:www-data $(CONF_DIR)/ip_config
	chmod a-x,g+w $(CONF_DIR)/ip_config
