#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_install:
	dh_install -pgestioip --exclude=GestioIP.pm
	dh_install -plibgestioip-perl

override_dh_fixperms:
	chmod -R 0644 debian/gestioip/usr/share/gestioip/imagenes/*
	chmod 0755 debian/gestioip/usr/share/gestioip/imagenes/OS
	chmod 0755 debian/gestioip/usr/share/gestioip/imagenes/apps
	chmod 0755 debian/gestioip/usr/share/gestioip/imagenes/style
	chmod 0755 debian/gestioip/usr/share/gestioip/imagenes/vendors
	chmod 0644 debian/gestioip/usr/share/gestioip/*.css
	chmod 0644 debian/gestioip/usr/share/gestioip/*.ico
	chmod 0644 debian/gestioip/usr/share/gestioip/errors/*
	chmod 0644 debian/gestioip/usr/share/gestioip/install/vars_*
	chmod 0644 debian/gestioip/usr/share/gestioip/install/*.css
	chmod 0644 debian/gestioip/usr/share/gestioip/install/*.ico
	chmod a-x debian/gestioip/etc/gestioip/ip_config
	dh_fixperms
